# Ignora target (build artifacts)
target/

# Ignora IDE files (IntelliJ)
.idea/
*.iml

# Ignora logs y temp
*.log
temp/

# Ignora secrets y configs locales (aquí va tu MySQL!)
application.properties  
application-dev.properties  
.env  


secrets/


